*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ededed;
}

header{
    background-color: #091627;
    padding: 30px;
    }
p{
    padding: 20px;
}
.logo {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 150px; /* Set a specific width for the logo */
    height: auto; /* Maintain aspect ratio */
}


input[type="search"]
{
    position: absolute;
    top: 10px;
    padding: 8px;
    left: 400px;
    border-radius: 50px;
    width: 400px;
}

button[type="submit"]
{
    position: absolute;
    top: 10px;
    padding: 8px;
    left: 820px;
    border-radius: 70px;
    width: 70px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 5px; /* Adjust the gap between grid items */
    max-height: 300px; /* Set the maximum height for the grid to enable scrolling */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  }
  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 5px; /* Adjust the gap between grid items */
    max-height: 300px; /* Set the maximum height for the grid to enable scrolling */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  }